body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafb;
    color: #333;
}

h1, h2, h3 {
    color: #e5a13e;
}
a {
    color: #cfe7e5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
