body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafb;
    color: #333;
}

h1, h2, h3 {
    color: #2563eb;
}
a {
    color: #3b82f6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
